if SHIELD_FROGBOARD_LEFT
    
    config ZMK_KEYBOARD_NAME
        default "Frogboard"
    
    config ZMK_SPLIT_ROLE_CENTRAL
        default y
    
endif

if SHIELD_FROGBOARD_LEFT || SHIELD_FROGBOARD_RIGHT

    config ZMK_SPLIT
        default y

endif
